#timeline-container {
  font-size: 1vw;
}

#left-bar {
  position: relative;
}

#toggle-arrow {
  position: absolute;
  display: flex;
  border-radius: 100px;
  border-style: solid;
  border-color: white;
  color: white;
  right: 10px;
  top: 10px;
}

#toggle-arrow:hover {
  opacity: 0.8;
}

.react-calendar-timeline .rct-outer {
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.react-calendar-timeline .rct-scroll {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

.react-calendar-timeline * {
  max-width:calc(80vw);
}

.react-calendar-timeline .rct-items .rct-item {
  border: 1px solid rgba(40, 40, 40, 0) !important;
}
.react-calendar-timeline .rct-item:hover {
  opacity: 0.8; }

.react-calendar-timeline .rct-items .rct-item.machine_1 {
  background-color: #273859 !important;
}

.react-calendar-timeline .rct-items .rct-item.machine_2 {
  background-color: #455d8c !important;
}

.react-calendar-timeline .rct-items .rct-item.machine_3 {
  background-color: #7a91bf !important;
}

.react-calendar-timeline .rct-items .rct-item.machine_4 {
  background-color: #bf947a !important;
}

.react-calendar-timeline .rct-items .rct-item.machine_5 {
  background-color: #401e12 !important;
}


.react-calendar-timeline .rct-calendar-header div:first-child {
  height: 50px !important;
}

.react-calendar-timeline .rct-header-root {
  background-color: #238BE6 !important;
}