.navbar-header{
  display: flex;
  justify-content: space-between;
  padding-right: calc(20px + 2vw);
  min-height:50px;
}

.icon-hub{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

#navbar-project-title{
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: calc(20px + 1vw);
}
#project-title-container{
  position: relative;
}

#like-button{
  position: absolute;
  right: -30px;
  top: 30%
}

#add-users-button:hover,
#logs-button:hover,
#like-button:hover{
  cursor: pointer;
}

#button-panel{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.button-panel-group{
  font-size: 10px;
  height:30px;
}

#tab-content {
  overflow: auto;
}